
<div id="resultados">

</div>


     <h2> Buscar Cliente </h2>

     <%= form_tag "/search/create", method: :get, remote: true, id: "search-form" do %>

     <%= text_field_tag :keyword, nil, placeholder: "Buscar Nombre" %>
     <%= content_tag :button,type: :submit do %>
     	buscar
   	<% end %>
	<% end %>





