
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CRUD</title>
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your,Keywords">
		<meta name="author" content="ResponsiveWebInc">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">

				

	</head>
	
	<body>
	

			<h2>CRUD</h2>

  <div class="container-fluid">
			


	<ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cliente
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Editar Cliente</a></li>
          <li><a href="#">Eliminar Cliente</a></li>
          <li><a href="#">Agregar Cliente</a></li> 
        </ul>
      </li>


      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Series
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Agregar Serie</a></li>
          <li><a href="#">Eliminar Serie</a></li>
          <li><a href="#">Editar Serie</a></li> 
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pelicula
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Agregar Pelicula</a></li>
          <li><a href="#">Eliminar Pelicula</a></li>
          <li><a href="#">Editar Pelicula</a></li>  
        </ul>
      </li> 

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Suscripcion
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Agregar Suscripcion</a></li>
          <li><a href="#">Eliminar Suscripcion</a></li>
          <li><a href="#">Editar Suscripcion</a></li> 
        </ul>
      </li>

        </ul>

	</div>

	</body>

