<div class="row">
  <h1>
    <%= @pelicula.title %>
  </h1>
</div>

<%= render 'partials/show_content', content: @pelicula %>

<div class="row">
  <h3>
    Similares
  </h3>
</div>

<div class="row" id="similar">
  <%= render 'partials/list_content', content: @pelicula.similar %>
</div>
