<nav class="navbar-fixed-top navbar-inverse" >
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Flix', root_url, class: 'navbar-brand' %>
    </div>


    <ul class="nav navbar-nav navbar-left">
      <%= render 'partials/navigation_left' %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <%= render 'partials/navigation_right' %>
    </ul>
  </div>
</nav>
