<% if current_client.try(:admin?) %>
  <%= render 'partials/admin_dropdown' %>
<% end %>

<% if client_signed_in? %>
  <%= render 'partials/dropdown_contenido' %>
<% end %>


<% if client_signed_in? %>
  <li>
    <div class="input-group">
      <form class="navbar-form" action="/search">
	<input type="search" class="form-control" placeholder="Buscar por titulo" name="query">
	<span class="input-group">
	  <button class="btn btn-default" type="submit">
	    Buscar
	  </button>
      </form>
    </div>
  </li>
<% end %>
