<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">>
                </button>
                <a class="navbar-brand" href="#">Flix</a>
            </div>

                <ul class="nav navbar-nav">
                    <li>
                        <a href="/buscar">Buscar</a>
                    </li>
                    <li>
                        <a href="/contacto">Contacto</a>
                    </li>
                    <li>
                        <a href="/perfil">Perfil</a>
                    </li>

                        <% if cliente_signed_in? %>
                            <li > 
                            <%= link_to "Cerrar sesion", destroy_cliente_session_path, method: :delete %> </li>

                        <% else %>
                            <li> <% link_to "Iniciar Sesion", new_cliente_session_path%>     </li>
                        <% end %>


                </ul>
          
        </div>
    </nav>

</body>

