<table class="table">
  <thead>
    <tr>
      <td>
	Numero
      </td>

      <td>
	Nombre
      </td>

      <% if current_client.try(:admin?) %>
	<td>
	  Editar
	</td>

	<td>
	  Eliminar
	</td>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% season.sorted_episodes.each do |episode| %>
      <% cache episode do %>
	<tr>
	  <td>
	    <%= episode.number %>
	  </td>

	  <td>
	    <%= link_to episode.title, show_season_episode_path(season.show, season, episode) %>
	  </td>

	  <% if current_client.try(:admin?) %>
	    <td>
	      <%= link_to 'Editar', edit_show_season_episode_path(season.show, season, episode) %>
	    </td>

	    <td>
	      <%= link_to 'Eliminar', show_season_episode_path(season.show, season, episode), method: :delete %>
	    </td>
	  <% end  %>
	</tr>
      <% end %>
    <% end %>
  </tbody>
</table>
