<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="thumbnail">

    <div class="caption">
      <h4 class="pull-right">
	<%= content.klass %>
      </h4>
      <h4>
	<%= link_to content.normalized_title, content %>
      </h4>
    </div>


    <div id="content-image">
      <img src="/images/question_mark.jpeg" width="200" heigth="300">
    </div>

    <div class="ratings">
      <p class="pull-right"></p>

      <%= content.votes.count %>

      <% if content.votes.count != 1 %>
	votos
      <% else %>
	voto
      <% end %>

      <%= render 'partials/votes', votable: content %>
    </div>
  </div>
</div>
