
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CRUD</title>
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your,Keywords">
		<meta name="author" content="ResponsiveWebInc">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<link href="css/style-78.css" rel="stylesheet">

				

	</head>
	
	<body>
	
		<div class="ui-78">	

			<h2>Admin NAV</h2>

			<div class="list">
			

				<div class="l-item bg-lblue">
					<a href="#" class="bg-lblue clearfix">
						<span>Cliente</span>
					</a>
				</div>
				

				<div class="l-item bg-red">
					<a href="#" class="bg-red clearfix">
						<span>Series</span>
					</a>
				</div>
				
				<div class="l-item bg-green">
					<a href="#" class="bg-green clearfix">
						<span>Peliculas</span>
					</a>
				</div>
				
				<div class="l-item bg-yellow">
					<a href="#" class="bg-yellow clearfix">
						<span>Suscripcion</span>
					</a>
				</div>

			
			</div>
		
		</div>