
<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">


      <p class="notice">  </p>
      <p class="alert"> </p>

      <h2>Restablecer contraseña</h2>

      <form class="new_cliente" id="new_cliente" action="/clientes/password" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="/PTpc3REPWSFpg60wC+++CxAMM0GI2g2ue5v4Gnp9zAROwBawGM6sS8oTG/VCSpCzx+QzhXYHKj1kcAwwDkoGw==" />
        

        <div class="field">
          <label for="cliente_email">Email</label><br />
          <input autofocus="autofocus" type="email" value="" name="cliente[email]" id="cliente_email" />
        </div>

        <div class="actions">
          <input type="submit" name="commit" value="Enviar" />
        </div>
      </form>


      <div class="acctions btn be-b white">
        <a href="/clientes/sign_up">Registrarce</a><br />      
      </div>


      <div class="acctions btn be-b white">
        <a href="/clientes/sign_in">Iniciar Sesion</a><br />     
      </div>   


    </div>
  </div>
</div>
