<div align="center">
  <div class="row">
    <h1>
      <%= @pelicula.nombre %>
    </h1>
  </div>

    <div class="row">
      <video
	  src="<%= @pelicula.ruta_archivo %>">
      </video>
    </div>

</div>
