body {
    padding-top: 70px; 
}

.btn {
	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1em;
	padding: 10px 12px;
}

.field,top-space,.acction {
	margin-top: 1em;
}

.black{
    color: #000000 !important;
}

.be-b{
    background-color: #000000;
}

.white{
    color: #ECF0F1;
}


.text-left {
    text-align: left;
}

.form-control {
    border: none;
    border-bottom: 1px solid;
    outline: none;
    width: 100%;
    display: block;
    padding: 10px 0px;
    font-size: 1em;
}



.tcenter{
    text-align: center;
}




.hidden { display: none; }
/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}